<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="style.css">
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <title>Solar System</title>
</head>
<body>
    <div class="solar-system">
        <div id="Sun"></div>

        <div class="orbit mercury-orbit"></div>
        <div class="mercury-spin">
            <div id="mercury"></div>
        </div>

        <div class="orbit venus-orbit"></div>
        <div class="venus-spin">
            <div id="venus"></div>
        </div>

        <div class="orbit earth-orbit"></div>
        <div class="earth-spin">
            <div class="orbit moon-orbit"></div>
            <div class="moon-spin">
                <div id="moon"></div>
            </div>

            <img id="earth"
            src="https://raw.githubusercontent.com/everdimension-personal/codepen-assets/master/earth_small_150.jpg" />
        </div>

        <div class="orbit mars-orbit"></div>
        <div class="mars-spin">
            <div id="mars"></div>
        </div>
    </div>
</body>
</html>